.btn-color-hPDLb {
    background-color: green;
}

@media screen and (min-width: 30em) {
    .btn-color-hPDLb {
        background-color: white;
    }
}

@media screen and (min-width: 42em) {
    .btn-color-hPDLb {
        background-color: blue;
    }
}

@media screen and (min-width: 68em) {
    .btn-color-hPDLb {
        background-color: green;
    }
}
